logs
target
.bloop
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.metals
/.vscode
bin
dist
.target
logs
.idea*
.cache
.history
.cache-*
libexec
/conf/prod.conf
.bsp
*.iml
*.dump