@(servers: List[Server])
    <div>
    <a href="@routes.HomeController.servers()"><b>Doomwarriors servers</b></a>
        <br /><br />
    </div>
    @for(server <- servers) {
        <div>
            @Html(Util.q3ColorCodeToHtml(server.name))<br>
            <p align="center">
                <a href="@controllers.routes.Assets.versioned("images/quake3/" + server.map + ".png")" target="_blank"><img border="1" src="@controllers.routes.Assets.versioned("images/quake3/" + server.map + ".png")" width="95" hspace="0" vspace="0" alt="server map" /></a><br>
            </p>
            @server.players.online / @server.players.max players online<br>
            <ul>
            @for(player <- server.players.list) {
               <li>@Html(Util.q3ColorCodeToHtml(player.name)) (frags: @player.frags ping: @player.ping)</li>
            }
            </ul>
        </div>
        <hr />
        <br>
    }