@(clanwar: Clanwar)

@main("clanwar - " + clanwar) {
<div class="mitteContent">
    <div>
        @clanwar.getDate().format("dd.MM.yyyy") - @clanwar.getLeague() vs. @clanwar.getEnemy()<br>
        lineup: @for(l <- clanwar.getLineups()) { @l.getMember().getNick() } <br><br>
        @for(score <- clanwar.getScores()) {
            <div>
                map: @score.getMap()<br>
                <b>result:</b> @score.getDwcScore() : @score.getEnemyScore()<br>
                
                @if(score.getImages() != null) {
                    @for(image <- score.getImages()) {
                    <img class="clanwar_pic" src="@routes.Assets.versioned("images/clanwars/" + image.getImage())" border="1" /><br>
                    }
                } else {
                kein Screenshot vorhanden :-(
                }
                <br><br>
            </div>
        }
        <br>
        <div>
            <b>report:</b><br />
            <p>@clanwar.getReport()</p>
        </div>
    </div>
</div>
}