@(clanwars: Seq[Clanwar])

@main("clanwars") {
    <div class="mitteContent">
        <div class="mitteContent">
            <table class="text" cellpadding="2" cellspacing="1" width="100%">
                <tr>
                    <td><b>date</b></td>
                    <td><b>&nbsp;&nbsp;</b></td>
                    <td><b>opponent</b></td>
                    <td><b>game</b></td>
                    <td><b>type</b></td>
                    <td><b>league</b></td>
                    <td><b>result</b></td>
                    <td><b>details</b></td>
                </tr>
                @for(clanwar <- clanwars) {
                    <tr>
                        <td>@clanwar.getDate().format("dd.MM.yyyy")</td>
                        <td><img src="@controllers.routes.Assets.versioned("images/flags/" + clanwar.getFlag())" alt="flag" height="16" /></td>
                        <td><a href="@clanwar.getUrl" target="_blank">@clanwar.getEnemy()</a></td>
                        <td>@clanwar.getGame()</td>
                        <td>@clanwar.getGametype()</td>
                        <td>@clanwar.getLeague()</td>
                        <td align="center" bgcolor="@clanwar.getColor()">@clanwar.getResult()</td>
                        <td>
                            <a href="@controllers.routes.HomeController.clanwar(clanwar.getId())">view</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}