@(founders: List[User], leaders: List[User], honorary: List[User], longTenure: List[User], messages: play.i18n.Messages)

@main("Hall of Fame", messages, messages.at("halloffame.description"), controllers.routes.HomeController.hallOfFame().url) {
<div class="mitteContent">
    <div>
        <h1>Hall of Fame</h1>
        <br /><br />
    </div>
    @if(!founders.isEmpty()) {
        <div>
            <b><u>@messages.at("halloffame.founders")</u></b><br /><br />
            @for(member <- founders) {
                <div>
                    <a href="@controllers.routes.HomeController.player(member.getId())">@member.getNick()</a>
                    @if(member.getSince() != null) { (@membershipYears(member)) }
                </div>
            }
        </div>
        <br />
    }
    @if(!leaders.isEmpty()) {
        <div>
            <b><u>Clanleader</u></b><br /><br />
            @for(member <- leaders) {
                <div>
                    <a href="@controllers.routes.HomeController.player(member.getId())">@member.getNick()</a>
                    @if(member.getSince() != null) { (@membershipYears(member)) }
                </div>
            }
        </div>
        <br />
    }
    @if(!honorary.isEmpty()) {
        <div>
            <b><u>@messages.at("halloffame.honorary")</u></b><br /><br />
            @for(member <- honorary) {
                <div>
                    <a href="@controllers.routes.HomeController.player(member.getId())">@member.getNick()</a>
                    @if(member.getSince() != null) { (@membershipYears(member)) }
                </div>
            }
        </div>
        <br />
    }
    @if(!longTenure.isEmpty()) {
        <div>
            <b><u>@messages.at("halloffame.longtenure")</u></b><br /><br />
            @for(member <- longTenure) {
                <div>
                    <a href="@controllers.routes.HomeController.player(member.getId())">@member.getNick()</a>
                    @if(member.getSince() != null) { (@membershipYears(member)) }
                </div>
            }
        </div>
        <br />
    }
</div>
}
