@(clanwars: Seq[Clanwar], news: Seq[News], messages: play.i18n.Messages)

@main(messages.at("index.title"), messages, messages.at("index.description"), controllers.routes.HomeController.index().url) {
    <h1>@messages.at("index.welcome")</h1>
    <br>
    <div class="mitteContent">
        <b>Latest Wars</b>
        <div class="mitteContent">
            <table class="text clanwar-table">
                <thead><tr>
                    <th scope="col">date</th>
                    <th scope="col"><span class="visually-hidden">country</span></th>
                    <th scope="col">opponent</th>
                    <th scope="col">game</th>
                    <th scope="col">type</th>
                    <th scope="col">league</th>
                    <th scope="col">result</th>
                    <th scope="col">details</th>
                </tr></thead>
                <tbody>
                @for(clanwar <- clanwars) {
                    <tr>
                        <td>@clanwar.getDate().format("dd.MM.yyyy")</td>
                        <td><img src="@controllers.routes.Assets.versioned("images/flags/" + clanwar.getFlag())" alt="flag" height="16" /></td>
                        <td><a href="@clanwar.getUrl()" target="_blank" rel="noopener noreferrer">@clanwar.getEnemy()</a></td>
                        <td>@clanwar.getGame()</td>
                        <td>@clanwar.getGametype()</td>
                        <td>@clanwar.getLeague()</td>
                        <td class="result" data-result-color="@clanwar.getColor()">@clanwar.getResult()</td>
                        <td>
                            <a href="@controllers.routes.HomeController.clanwar(clanwar.getId())">view</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <br />
    <div>
        <div class="mitteContent">
            <div>
                <b>News</b>
            </div>
            @for(n <- news) {
                <br />
                <div>
                    <b>@n.getTopic() --- @n.getTimestamp().format(if (n.getTimestamp().format("HH:mm") == "00:00") "dd.MM.yyyy" else "dd.MM.yyyy HH:mm") @messages.at("news.by") @n.getUsername()</b>
                </div>
                <div class="text-justify">
                    @Html(ContentSanitizer.sanitizeHtml(n.getContent()))
                </div>
                <br>
                <hr />
            }
        </div>
    </div>
}
