@(squads: List[Squad])

@main("Spieler und Lineup", "Spieler, Mitglieder und Squads des Doomwarriors Clans.", controllers.routes.HomeController.lineup.url) {
<div class="mitteContent">
    <div>
        <h1>Spieler und Lineup</h1>
        <br /><br />
    </div>
    @for(squad <- squads) {
        <div>
            <b><u>@squad.getDescription() (@squad.getShortText())</u></b><br /><br />
            @if(squad.getMembers() != null) {
                @for(membership <- squad.getMembers()) {
                    <div class="@if(!java.lang.Boolean.TRUE.equals(membership.getMember().getActive())) {member-inactive}">
                        <a href="@controllers.routes.HomeController.player(membership.getMember().getId())">@membership.getMember().getNick()</a>
                        @if(membership.getMember().getSince() != null) { (@membershipYears(membership.getMember())) }
                    </div>
                }
            }
        </div>
        <br />
    }
</div>
}
