@(squads: List[Squad], players: List[User])

@main("lineup") {
<div class="mitteContent">
    <div>
        <b>Lineup</b>
        <br /><br />
    </div>
    @for(squad <- squads) {
        <div>
            <b><u>@squad.getDescription() (@squad.getShortText()</u></b><br /><br />
            @for(player <- players) {
                @if(player.getSquad() == squad.getId()) {
                    <div><a href="@controllers.routes.HomeController.player(player.getId())">@player.getNick()</a></div>
                }
            }
        </div>
        <br />
    }
</div>
}