@(squads: List[Squad], players: List[User])

@main("lineup") {
<div class="mitteContent">
    <div>
        <b>Lineup</b>
        <br /><br />
    </div>
    @for(squad <- squads) {
        <div>
            <b><u>@squad.description (@squad.shortText)</u></b><br /><br />
            @for(player <- players) {
                @if(player.squad == squad.id) {
                    <div><a href="@controllers.routes.HomeController.player(player.id)">@player.nick</a></div>
                }
            }
        </div>
        <br />
    }
</div>
}