@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Doomwarriors Clan - @title</title>
        <meta charset="utf-8" /> 
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body id="body">
        <div id="blockMain">    
            <div id="blockFullDocument">
                <div id="blockMainInner">
                    <div id="blockTop">
                        <img src="@controllers.routes.Assets.versioned("images/dwc_header.jpg")" alt="logo" />
                    </div>
                    
                    <div id="blockLeft">
                        <div class="linksTop"></div>
                        <div class="links">
                            @navigation()
                        </div>
                        <div class="linksBottom"></div>
                        <br />
                        <div class="linksTop"></div>
                        <div class="links">
                            <div class="linksContent">
                                <strong>Sponsors</strong><br>
                                <p>
                                    <a href="https://www.honig-räuberei.de" target="_blank">Honigräuberei</a>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="linksBottom"></div>
                    </div>
                    
                    <div id="blockMiddle">
                        <div class="mitteTop"></div>
                        <div class="mitte">
                            <div class="mitteContent">
                                @content
                            </div>
                        </div>
                        <div class="mitteBottom"></div>
                        <div class="mittesmall">
                            <div class="mitteContent">
                                <div>
                                    doomwarriors.de - design: <a href="@controllers.routes.HomeController.player(2)">motter</a> - code: <a href="@controllers.routes.HomeController.player(1)">n4cer</a>
                                </div>
                            </div>
                        </div>
                        <div class="mitteBottom"></div>
                    </div>
                    <div id="blockRight">
                        <div class="rechtsTop"></div>
                        <div class="rechts">
                            <div class="rechtsContent">
                                <strong>Random Pics</strong><br />
                                <br />
                                <p align="center">
                                    <a href="@routes.HomeController.randomPic" target="_blank"><img border="1" src="@routes.HomeController.randomPic" width="125" alt="random pics" /></a>
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="rechtsBottom"></div>
                        <br />
                        <div class="rechtsTop"></div>
                        <div class="rechts">
                            <div class="rechtsContent">
                                leer
                            </div>
                        </div>
                        <div class="rechtsBottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>