<div class="linksContent">
    <b>General</b><br />
    <div>
        <ul>
            <li class="off"><a href="@controllers.routes.HomeController.index"><span>&gt;&gt;&nbsp;short check</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.news"><span>&gt;&gt;&nbsp;news</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.lineup"><span>&gt;&gt;&nbsp;lineup</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.clanwars"><span>&gt;&gt;&nbsp;clanwars</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.pickup"><span>&gt;&gt;&nbsp;spontan q3</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.history"><span>&gt;&gt;&nbsp;history</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.contact"><span>&gt;&gt;&nbsp;contact</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.imprint()"><span>&gt;&gt;&nbsp;imprint</span></a></li>
            <li class="off"><a href="@controllers.routes.HomeController.privacy()"><span>&gt;&gt;&nbsp;privacy policy</span></a></li>
        </ul>
    </div>
</div>