@()

@main("q3 pickup / spontan") {
  <div class="mitteContent">
    <h1>q3 pickup / spontan</h1>
    <br><br>
    
    <h2>Feste Termine</h2>
    <br>
    <p>Für Q3 TDM und CTF findet ihr diese in den jeweiligen topics der Discord channel. Pi mal Daumen alle 2 Wochen ab 20 Uhr.</p>
    <br>
    <h2>Spontan</h2>
    <br>
    <p>Für alle spontan Liebhaber gibt es im <a href="@routes.HomeController.contact">Discord</a> den #q3-pickup channel. Dort haben wir einen Bot, der wie damals in #spontanctf euch zu den jeweiligen pickups added (<b>!add duel/tdm/ctf</b>) und die Spiele dann startet. Wir haben eigene Server auf denen dann gespielt wird.<br>
        <br>
        Alle Bot Commands findet ihr hier: <a target="_blank" href="https://gitlab.com/pubobot-discord/PUBobot-discord/blob/master/commands.md">commands</a></p>
  </div>
}