@(member: User)

@main(member.getNick() + " - Spielerprofil", "Profil des Doomwarriors-Spielers " + member.getNick() + ".", controllers.routes.HomeController.player(member.getId()).url) {
<div class="mitteContent">
    <h1>@member.getNick()</h1>
    <div>
        <a href="@controllers.routes.HomeController.lineup">&gt;&gt;zur&uuml;ck&lt;&lt;</a>
    </div>
    <br />
    <img class="bordered-image" src="@routes.Assets.versioned("images/lineup/" + member.getImage())" width="76" height="103" alt="@member.getNick()"><br />
    <br />
    <br />
    nick: @member.getNick()<br />
    realname: @member.getRealname()<br />
    city: @member.getCity()<br />
    since: @if(member.getSince() != null) {@member.getSince().format("dd.MM.yyyy")} else {-}<br />
    @if(member.getExitDate() != null) {
        exit date: @member.getExitDate().format("dd.MM.yyyy")<br />
    }
    <!--birthday: @member.getBirthDate()<br />-->
    job: @member.getJob()<br />
    quote: @member.getQuote()<br />
    email: @member.getEmail()<br />
</div>
}
